*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito Sans";
}
h1, footer {
  text-align: center;
}
h1 {
  font-family: "Tilt Warp";
  color: #152287;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  background-color: #6bdaff;
  align-items: center;
  justify-content: center;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
code {
  padding: 0.2em 0.4em;
  background-color: rgba(158,167,179,0.4);
  border-radius: 6px;
  font-family: "SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace";
  line-height: 1.5;
}
::placeholder {
  font-style: italic;
}
div:not(.content) {
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  border-radius: 8px;
  border: 2px solid #ebebeb;
  margin: 4px;
  text-align: justify;
}
label {
  margin-top: 2%;
  display: block;
}
input {
  width: 100%;
}
#noticeText {
  font-size: 10px;
  display: inline-block;
  white-space: nowrap;
}
input[type="submit"] {
  background-color: #152287;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 8%;
  min-width: min-content;
  height: 20%;
}
input[type="submit"]:hover {
  background-color: #152287b0;
}
@media screen and (max-width: 480px) {
  div:not(.content) {
    min-width: 75%;
    padding-bottom: 5%;
  }
}
