<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invite A Teacher</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="content">
      <h1>Invite A Teacher</h1>
      <div class="box">
        <form name="invite-teacher" method="post">
          <label for="new_account_username">New Account Username (3-16 lowercase characters)</label>
          <input id="new_account_username" name="new_account_username" placeholder="LPS Staff Username" autocomplete="off" autofocus="" required="" pattern="[a-z2-9]{3,16}">
          <br>
          <input type="submit" id="invite-teacher_submit_button" name="invite-teacher_submit_button" value="Create New Account">
        </form>
      </div>
      <br>
      <br>
      <p>Links:</p>
      <ul>
        <li><a href="/">Return to main page</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/settings">Account Settings</a></li>
        <li><a href="/add-tickets">Add Tickets for Student</a></li>
      </ul>
    </div>
    <footer>
      <i>If you're reading this, the web server was installed correctly.™</i>
      <hr>
      <p>
        Caught In the Act Server v0.0.0 © CSHS Members
      </p>
    </footer>
  </body>
</html>
