<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="content">
      <h1>Login</h1>
      <div class="box">
        <form name="login" method="post">
          <label for="username">Username:</label>
          <input id="username" name="username" placeholder="Username"><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="Password">
          <br>
          <input type="submit" id="login_submit_button" name="login_submit_button" value="Sign In">
        </form>
      </div><br>
      <i>
        Ask a staff member if you need to create an account
      </i>
    </div>
    <footer>
      <i>If you're reading this, the web server was installed correctly.™</i>
      <hr>
      <p>
        Caught In the Act Server v0.0.0 © CSHS Members
      </p>
    </footer>
  </body>
</html>