<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="content">
      <h1>Sign up</h1>
      <div class="box">
        <form name="signup" method="post">
          <label for="username">Username:</label>
          <input id="username" name="username" placeholder="Your LPS ID" autofocus="" required=""><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="Secure password" required="">
          <br>
          <input type="submit" id="signup_submit_button" name="signup_submit_button" value="Sign up">
        </form>
      </div><br>
      <i>Password needs at least 7 different characters</i><br>
      <ul>
        <li><a href="/login">Already have an account?</a></li>
      </ul>
    </div>
    <footer>
      <i>If you're reading this, the web server was installed correctly.™</i>
      <hr>
      <p>
        Caught In the Act Server v0.0.0 © CoolCat467
      </p>
    </footer>
  </body>
</html>