<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enter ID</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="content">
      <h1>Enter ID</h1>
      <div class="box">
        <form name="get_student_id" method="post">
          <label for="student_id">Student ID:</label>
          <input id="student_id" name="student_id" placeholder="Student ID Number" autocomplete="off">
          <br>
          <input type="submit" id="get_student_id_submit_button" name="get_student_id_submit_button" value="Display Tickets">
        </form>
      </div>
      <p>Links:</p>
      <ul>
        <li><a href="/">Return to main page</a></li>
      </ul>
    </div>
    <footer>
      <i>If you're reading this, the web server was installed correctly.™</i>
      <hr>
      <p>
        Caught In the Act Server v0.0.0 © CSHS Members
      </p>
    </footer>
  </body>
</html>
